@import "css/menu.css";
@import "css/menu-hide.css";
@import "css/fade.css";
@import "css/container-2-block.css";
@import "css/container-foto.css";
@import "css/karusel.css";
@import "css/container-text.css";
@import "css/container-img.css";
@import "css/door.css";
@import "css/card.css";
@import "css/btn-txt.css";
@import "css/footer.css";
@import "css/icon.css";
@import "css/preloader.css";

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
p{
    margin: 0;
}