@import "colors";
@import "icon";
@import "button";
@import "header";
@import "con-foto";
@import "tabs";
@import "con-advantages";
@import "con-work";
@import "karusel-project";
@import "karusel-client";
@import "footer";


body{
  margin: 0;
  padding-top: 80px;
  background: $white;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: #61b300;
  text-decoration: none;
  font-size: 12px;
  &:focus{
    outline: none!important;
  }
}