.container-text{
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  .con-text{
    display: flex;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      margin: 30px 0;
    }
    &_left{
      width: 100%;
      max-width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;
      @media screen and (max-width: 768px) {
        padding: 0 20px 20px 40px;
      }
      .text_left{
        align-items: center;
        font-size: 1.6em;
        @media screen and (max-width: 768px) {
          /*font-size: 40px;*/
          font-size: 1.2em;
        }
        .span-con-text{
          font-style: italic;
        }
      }
    }
    &_right{
      width: 100%;
      max-width: 400px;
      padding: 0 40px;
      @media screen and (max-width: 768px) {
        max-width: 600px;
      }
      .text_right{
        font-size: 0.5em;
        line-height: 2.5;
      }
    }
  }
}