.container-2-block{
  display: flex;
  font-size: 28px;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
  a{
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    @media screen and (max-width: 600px) {
      width: 100%;
      min-height: 100px;
    }
    .con-1-block{
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000104;
      @media screen and (max-width: 600px) {
        width: 100%;
        min-height: 100px;
      }
      &:hover{
        .icon-con-2-block-1{
          transform: translateX(20px);
          transition: all .5s;
        }
      }
      .con-1{
        width: 90%;
        &-text_top{
          font-weight: 700;
          font-size: 1em;
          margin-bottom: 10px;
          color: #ffffff;
          @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 0.8em;
          }
        }
        &-text_bottom{
          font-size: 0.5em;
          letter-spacing: 1px;
          color: #ffffff;
          @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 0.4em;
          }
        }
      }
    }
  }
  a{
    width: 100%;
    color: #000000;
    @media screen and (max-width: 600px) {
      width: 100%;
      min-height: 100px;
    }
    text-decoration: none;
    .con-2-block{
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f1f1f1;
      transition: all .5s;
      &:hover{
        margin-left: -20px;
        padding-right: 20px;
      }
      .con-2{
        width: 90%;
        &-text_top{
          font-weight: 700;
          font-size: 1em;
          margin-bottom: 10px;
          @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 0.8em;
          }
        }
        &-text_bottom{
          font-size: 0.5em;
          letter-spacing: 1px;
          @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 0.4em;
          }
        }
      }
      .con-2-block--active{
        transition: all .5s;
        transform: scale(1.5,1.5);
      }
    }
  }
}
