.door{
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  .con-door{
    &-text{
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: start;
      text-align: center;
      font-size: 22px;
      letter-spacing: 10px;
      font-family: "Lora", serif;
      @media screen and (max-width: 768px) {
        min-height: 170px;
        align-items: center;
        letter-spacing: 2px;
      }
      &::before{
        content: "";
        width: 50px;
        border: 1px solid grey;
        margin-top: 20px;
        margin-right: 20px;
        @media screen and (max-width: 560px) {
          width: 30px;
        }
      }
      &::after{
        content: "";
        width: 50px;
        border: 1px solid grey;
        margin-top: 20px;
        margin-left: 20px;
        @media screen and (max-width: 560px) {
          width: 30px;
        }
      }
    }
    &-door{
      display: flex;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      .doors{
        padding: 0 20px 40px 20px;
        img{
          width: 100%;
        }
        p{
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}