.fade {
  .site-slick {
    .jet-slider-item {
      position: relative;
      & img {
        width: 100%;
        height: auto;
      }
      .slick-text {
        margin: auto;
        top: 30%;
        left: 200px;
        position: absolute;
        white-space: nowrap;
        color: #ffffff;
        font-family: 'Lora', serif;
        @media screen and (max-width: 800px) {
          left: 4%;
          transition: all .5s;
        }
        @media screen and (max-width: 500px) {
          top: 4%;
          left: 10px;
          transition: all .5s;
        }
        &-top {
          font-size: 74px;
          font-style: italic;
          margin-bottom: 15px;
          @media screen and (max-width: 1500px) {
            font-size: 54px;
          }
          @media screen and (max-width: 800px) {
            font-size: 45px;
          }
          @media screen and (max-width: 560px) {
            font-size: 30px;
            font-weight: 700;
            white-space: normal;
          }
          .span-text {
            font-style: normal;
          }
        }
        &-bottom {
          font-style: italic;
          font-size: 36px;
          @media screen and (max-width: 1500px) {
            font-size: 32px;
          }
          @media screen and (max-width: 800px) {
            font-size: 25px;
          }
          @media screen and (max-width: 560px) {
            font-size: 18px;
            white-space: pre-line;
          }
        }
        &-black {
          color: #000000;
        }
      }
    }
  }
}

.slick-dots {
  width: 85px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  li button {
    font-size: 0;
  }

}
.slick-active{
  background: #000000;
  margin: 6px 0 -6px 0;
  #slick-slide-control10,
  #slick-slide-control11,
  #slick-slide-control12{
    height: 7px;
  }
}
#slick-slide-control10,
#slick-slide-control11,
#slick-slide-control12 {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(0, 0, 0, 0.3);
  &:hover {
    background: #000000;
  }
}
