.icon {
  &-menu {
    width: 10px;
    height: 20px;
    margin: 0 0 -5px 2px;
  }
  &-earth {
    width: 30px;
    height: 30px;
    padding: 10px 0 30px 0;
  }
  &-close {
    @media screen and (max-width: 800px) {
      visibility: visible;
    }
    width: 15px;
    height: 25px;
    color: #ffffff;
    cursor: pointer;
    visibility: hidden;
  }
  &-right {
    width: 20px;
    height: 10px;
    padding: 0 5px 0 0;
  }
  &-cabinets {
    transition: all .5s;
    &--active {
      transition: all .5s;
      transform: rotate(90deg);
    }
  }
  &-inspiration {
    transition: all .5s;
    &--active {
      transition: all .5s;
      transform: rotate(90deg);
    }
  }
  &-dealers {
    transition: all .5s;
    &--active {
      transition: all .5s;
      transform: rotate(90deg);
    }
  }
  &-about {
    transition: all .5s;
    &--active {
      transition: all .5s;
      transform: rotate(90deg);
    }
  }
  &-con-2-block-1{
    width: 17px;
    height: 20px;
    padding-left: 20px;
    margin-bottom: -5px;
    color: #ffffff;
    transition: all .5s;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-con-2-block-2{
    width: 17px;
    height: 20px;
    padding-left: 20px;
    margin-bottom: -5px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-foto-stamp{
    width: 270px;
    height: 270px;
    color: rgb(0,0,0,0.8);
    @media screen and (max-width: 1300px) {
      width: 180px;
      height: 180px;
    }
    @media screen and (max-width: 768px) {
      width: 120px;
      height: 120px;
    }
  }
}
.right-hid {
  visibility: hidden;
}
.karusel-arrow-left,
.karusel-arrow-right{
  width: 20px;
  height: 20px;
  padding: 10px;
  background: white;
  cursor: pointer;
}
.img-arrow-right{
  width: 30px;
  height: 25px;
  margin-top: 2px;
  margin-left: 20px;
  position: absolute;
  top: -40%;
  left: 98%;
  color: #ffffff;
  @media screen and (max-width: 768px) {
    width: 20px;
    height: 15px;
    margin: 2px 0 0 5px;
  }
}
.icon-footer-message{
  width: 15px;
  height: 15px;
  color: #757575;
  margin-right: 7px;
}
.icon-footer{
  width: 20px;
  height: 20px;
  color: #757575;
  cursor: pointer;
  transition: all .5s;
}
.twitter{
  &:hover{
    color: rgb(72,172,216);
    transition: all .5s;
  }
}
.facebook{
  &:hover{
    color: #3b5998;
    transition: all .5s;
  }
}
.instagram{
  &:hover{
    color: rgb(208, 80, 131);
    transition: all .5s;
  }
}
.youtube{
  &:hover{
    color: rgb(255, 0, 0);
    transition: all .5s;
  }
}
.in{
  &:hover{
    color: rgb(0,115,177);
    transition: all .5s;
  }
}