.burger-btn{
  @media screen and (max-width: 800px){
    visibility: visible;
    z-index: 99;
  }
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  top: 25px;
  left: 10px;
  visibility: hidden;
  span{
    width: 25px;
    height: 4px;
    background: grey;
    margin-top: 4px;
  }
}
.burger-menu{
  max-height: 80px;
  height: 100%;
  margin-top: -80px;
  .navigations{
    @media screen and (max-width: 800px){
      visibility: visible;
      z-index: 100;
    }
    height: 1000px;
    margin: 0;
    padding-left: 10px;
    background: black;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.5s;
    visibility: hidden;
  }
  .hide-menu{
    left: -1000px;
    transition: all 0.5s;
  }
   ul {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    position: relative;
    cursor: pointer;
     li {
       .line{
         width: 100%;
         margin: 0 45px 0 15px;
         border-bottom: 1px solid #ffffff;
       }
       .earth {
         margin: 8px 18px;
       }
       .close {
         position: absolute;
         top: 40px;
         right: 30px;
       }
       width: 95%;
       display: flex;
       align-items: center;
       list-style-type: none;
       white-space: nowrap;
       padding: 20px 0 20px 20px;
       color: #ffffff;
       line-height: 24px;
       font-weight: 700;
     }
     .row-home{
       padding: 0 0 0 20px;
     }
     .row-blog{
       padding: 15px 0 0 20px;
     }
     .block-cabinets{
       height: 0;
       display: flex;
       flex-direction: column;
       margin-top: -20px;
       overflow: hidden;
       transition: all .5s;
       .cabinets{
         margin: 20px 0 0 30px;
         color: #777;
         font-size: 18px;
       }
     }
     .block-cabinets--active{
       height: 100px;
       transition: all .5s;
     }
     .block-inspiration{
       height: 0;
       display: flex;
       flex-direction: column;
       margin-top: -20px;
       overflow: hidden;
       transition: all .5s;
       .inspiration{
         margin: 20px 0 0 30px;
         color: #777;
         font-size: 18px;
       }
     }
     .block-inspiration--active{
       height: 100px;
       transition: all .5s;
     }
     .block-dealers{
       height: 0;
       display: flex;
       flex-direction: column;
       margin-top: -20px;
       overflow: hidden;
       transition: all .5s;
       .dealers{
         margin: 20px 0 0 30px;
         color: #777;
         font-size: 18px;
       }
     }
     .block-dealers--active{
       height: 100px;
       transition: all .5s;
     }
     .block-about{
       height: 0;
       display: flex;
       flex-direction: column;
       margin-top: -20px;
       overflow: hidden;
       transition: all .5s;
       .about{
         margin: 20px 0 0 30px;
         color: #777;
         font-size: 18px;
       }
     }
     .block-about--active{
       height: 200px;
       transition: all .5s;
     }
  }
}