.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  .laoder-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .svg-loader {
      width: 110px;
      animation: svg-loader 3s linear infinite;
    }
  }
}


@keyframes svg-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

