.footer {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
.footer .con-footer {
  width: 100%;
  max-width: 1400px;
  color: #757575;
}
.footer .con-footer_first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer .con-footer_first {
    flex-direction: column;
  }
}
.footer .con-footer_first .footer-con {
  max-width: 270px;
}
@media screen and (max-width: 768px) {
  .footer .con-footer_first .footer-con {
    margin-left: 20px;
  }
}
.footer .con-footer_first .footer-con ul {
  list-style-type: none;
  padding-right: 20px;
}
@media screen and (max-width: 880px) {
  .footer .con-footer_first .footer-con ul {
    padding-left: 20px;
  }
}
.footer .con-footer_first .footer-con ul li {
  font-size: 14px;
  padding: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.footer .con-footer_first .footer-con ul li a {
  color: #757575;
  text-decoration: none;
}
.footer .con-footer_first .footer-con ul li a:hover {
  color: #ffffffff;
  transition: all 0.5s;
}
.footer .con-footer_first .footer-con ul .line-under {
  border-bottom: 1px solid #757575;
  transition: all 0.5s;
}
.footer .con-footer_first .footer-con ul .line-under:hover .icon-footer-message, .footer .con-footer_first .footer-con ul .line-under:hover a {
  color: #ffffff;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .footer .con-footer_first .footer-con ul .line-under {
    border-bottom: none;
  }
}
.footer .con-footer_first .footer-con .last-block li {
  color: #757575;
  text-decoration: none;
}
.footer .con-footer_first .footer-con .last-block li:hover {
  color: #757575;
  text-decoration: underline;
}
.footer .con-footer_first .footer-con .last-block li img {
  cursor: default;
}
.footer .con-footer_first .footer-con .last-block li a:hover {
  color: #757575;
}
.footer .con-footer_first .footer-con .last-block .footer-head {
  color: #aaa;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 900;
  cursor: text;
}
.footer .con-footer_first .footer-con .last-block .footer-head:hover {
  color: #aaa;
  text-decoration: none;
}
.footer .con-footer_first .footer-con .line {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer .con-footer_first .footer-con .line {
    display: block;
    position: absolute;
    margin-right: 20px;
    width: 93%;
    border: 1px solid #757575;
  }
}
@media screen and (max-width: 480px) {
  .footer .con-footer_first .footer-con .line {
    width: 88%;
  }
}
.footer .con-footer_second {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 50px 25px 0 0;
  margin: 0 40px;
  border-top: 1px solid #757575;
}
@media screen and (max-width: 880px) {
  .footer .con-footer_second {
    flex-direction: column;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer .con-footer_second {
    padding: 10px 0 40px 10px;
    border: none;
  }
}
.footer .con-footer_second p {
  font-size: 12px;
}
.footer .con-footer_second p span {
  color: #ffffff;
  padding: 0 2px;
}
.footer .con-footer_second p span :hover {
  color: red;
  cursor: pointer;
}
.footer .con-footer_second ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
@media screen and (max-width: 1300px) {
  .footer .con-footer_second ul {
    order: -1;
  }
}
@media screen and (max-width: 880px) {
  .footer .con-footer_second ul {
    padding-left: 0;
    padding-bottom: 10px;
  }
}
.footer .con-footer_second ul li {
  padding: 0 10px;
  transition: all 0.5s;
}

/*# sourceMappingURL=footer.css.map */
