.container-advantages{
  min-height: 390px;
  padding: 0;
  font-size: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/background.png);
.advan{
  background: rgba(0,0,0,0.5);
  .con-advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    h2{
      display: flex;
      color: #ffffff;
      justify-content: center;
      padding: 30px 0 15px 0;
      letter-spacing: 1.5px;
      font-size: 1.7em;
      font-family: "Oswald", sans-serif;
      @media screen and (max-width: 768px) {
        font-size: 1em;
      }
    }
    .con-emblems{
      display: flex;
      justify-content: center;
      min-height: 322px;
      align-items: center;
      .emblems{
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .icon-con{
          width: 140px;
          height: 140px;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;
          transition: all .3s;
          background: #62b400;
          border: 10px solid #509300;
          &:hover{
            transition: all .3s;
            border: 10px solid #62b400;
            background: #509300;
          }
        }
        p{
          text-align: center;
          padding-top: 30px;
          color: #ffffff;
          letter-spacing: 1px;
          font-size: 20px;
          font-family: "Oswald", sans-serif;
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }

      }
    }
  }
}
}