.tabs{
  min-height: 780px;
  font-size: 30px;
  h2{
    display: flex;
    justify-content: center;
    color: #61b300;
    padding: 50px 0;
    margin: 0;
    position: relative;
    letter-spacing: 1px;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    @media screen and (max-width: 768px) {
      font-size: 1em;
    }
    &::after{
      content: "";
      width: 70px;
      height: 70px;
      margin-left: 8px;
      background-repeat: no-repeat;
      background-image: url(../img/garlic.svg);
      @media screen and (max-width: 768px) {
        margin-top: -7px;
        background-image: url(../img/garlic_2.svg);
      }
    }
  }
  .nav{
    justify-content: space-between;
    .nav-item{

      .nav-link{
        padding-bottom: 10px;
        color: #61b300;
        font-size: 16px;
        border: none;
        &:hover{
          border: none;
        }
        &:active{
          border: none;
          color: #61b300;
        }
      }

      .active, .active:hover{
        margin-top: 0;
        border: none;
        color: #61b300;
        border-bottom: 2px solid #61b300;
      }
    }
  }
  .tab-content{
    padding-top: 30px;
    align-items: flex-end;
    #home, #menu1, #menu2{
      padding: 0;
      .con-tabs{
        display: flex;
        align-items: flex-end;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
        .tab-foto{
          width: 100%;
          max-width: 580px;
          @media screen and (max-width: 768px) {
            max-width: 800px;
          }
          img{
            width: 102%;
            height: 380px;
            object-fit: cover;
            margin-bottom: -1px;
            @media screen and (max-width: 992px) {
              width: 100%;
              margin-bottom: -11px;
            }
          }
        }
        .tab-text{
          max-width: 400px;
          min-height: 300px;
          box-shadow: 3px 3px 10px #ababab;
          flex-direction: column;
          padding: 0 20px;
          background-position: 96% 92%;
          background-repeat: no-repeat;
          background-image: url(../img/tomato.svg);
          display: flex;
          justify-content: center;
          letter-spacing: 1px;
          font-family: "Oswald", sans-serif;
          @media screen and (max-width: 768px) {
            max-width: 800px;
            min-height: 210px;
            margin-bottom: 20px;
          }
          p{
            color: #000000;
            font-size: 14px;
            @media screen and (max-width: 768px) {
              padding-top: 10px;
            }

          }
          .tab-food{
            padding-left: 20px;
            .tab-food-sevice{
              list-style-type: disc;
              color: #000000;
              font-size: 12px;
              font-family: "Raleway", sans-serif;
            }
          }
        }
      }
    }
  }
}
